In [37]:
import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import figure
import dataframe_image as dfi

In [38]:
connection = psycopg2.connect(
    database="root",
    user="root",
    password="password",
    host="127.0.0.1",
    port="5432"
)
db = connection.cursor(cursor_factory=psycopg2.extras.RealDictCursor)

In [39]:
def getAll(query):
    db.execute(query)
    return pd.DataFrame(data=db.fetchall())

In [40]:
# top 10 tweetow z najwieksza iloscia komentarzy

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Tre≈õƒá tweeta", u.name as "Nazwa u≈ºytkownika", t.reply_count as "Ilo≈õƒá komentarzy", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by reply_count desc
limit 100;


"""

df1 = getAll(sql1)
df1 = df1.loc[~df1['Identyfikator tweeta'].isin(
    [1347327743004995585, 1268422690336935943, 1383464956859879426, 1319785379105542149, 1241016789758246914,
     1332066698858352641, 1351897267666608129, 1252734369564733440, 1252734369564733440, 1377013699219709960,
     1352359178355011586, 1241756665856155648, 1333344528883920896, 1325203148684718086, 1352754599590035459,
     1312590918915108866, 1327646530103369728, 1265045009323241472, 1325163241656496133, 1342491135093207044,
     1331307848647761925, 1332653290794999808, 1343221417287016448, 1263940112414580739, 1245435715036430336,
     1339375759677411328, 1285947226750164993, 1305220707085889536, 1321941986174226432, 1290052238052700161,
     1253751812194070529, 1243641803997188096, 1378351326120312836, 1310628020475039745, 1282002456063295490,
     1316513615373987840, 1307121192516628480, 1369348492141998081])]
df1 = df1.head(10)
# dfi.export(df1, "images/top-10-tweetow-z-najwieksza-iloscia-komentarzy.png")
df1

,Identyfikator tweeta,Tre≈õƒá tweeta,Nazwa u≈ºytkownika,Ilo≈õƒá komentarzy,Sentyment
7,1334542969530183683,2020 in one word,Twitter,117710,0.0000
16,1366846908480815106,I just announced Texas is OPEN 100%. \n\nEVERY...,Greg Abbott,88783,0.0000
27,1327254491322675206,Do you personally know anyone that has contrac...,Steve | Millionaire Habits,73434,-0.1779
28,1340005642006892546,"Just received the safe, effective COVID vaccin...",Leader McConnell,72484,0.7783
30,1279615522284474368,Went into the Emergency Dept. at St Joseph‚Äôs H...,Letitia Montana,71344,-0.7650
33,1335006495931510786,Dr. Fauci says Americans should ‚Äúavoid travel‚Äù...,Rep. Jim Jordan,69894,0.6662
36,1329604733712134147,This is harassment pure and simple. This ‚Äòinqu...,Ivanka Trump,64249,-0.2280
40,1327597582013632513,Do you personally know anyone that has contrac...,I Live Now Rachel üíé,63204,-0.1779
42,1250292126643941376,Halting funding for the World Health Organizat...,Bill Gates,62853,-0.8834
46,1348249481284874240,My message to my fellow Americans and friends ...,Arnold,59041,0.0000

In [41]:
# top 10 tweetow z najwieksza iloscia retweetow

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Tre≈õƒá tweeta", u.name as "Nazwa u≈ºytkownika", t.retweet_count as "Ilo≈õƒá retweet√≥w", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by retweet_count desc
limit 100;
"""

df1 = getAll(sql1)
df1 = df1.loc[~df1['Identyfikator tweeta'].isin(
    [1342491135093207044, 1268422690336935943, 1265832328598884352, 1241756665856155648, 1266821069823975430,
     1278763679421431809, 1245435715036430336, 1383464956859879426, 1297194550340067328, 1351897267666608129,
     1266156916121706502, 1266484584683896832, 1239834212565430278, 1293789401131020288, 1348249481284874240,
     1269776351940108288, 1253751812194070529, 1250982321848823810, 1296658338206355457, 1311120831032909825,
     1308461763860393984, 1383518691963260933, 1280948407532613633, 1370798098075824132])]
df1 = df1.head(10)
# dfi.export(df1, "images/top-10-tweetow-z-najwieksza-iloscia-retweetow.png")
df1

,Identyfikator tweeta,Tre≈õƒá tweeta,Nazwa u≈ºytkownika,Ilo≈õƒá retweet√≥w,Sentyment
13,1243427980199641088,I swear we are fighting two pandemics \nCovid ...,Sir Mo,369171,-0.6808
15,1240324132723544070,I‚Äôm 22 years old and I tested positive for COV...,Bjonda Haliti,338091,0.9072
21,1236029449042198528,The coronavirus panic is dumb,Elon Musk,300402,-0.7650
23,1239617034901524481,This morning I tested positive for Covid 19. I...,Idris Elba,286931,-0.8360
26,1238726956180373504,Wasn‚Äôt even scared until all the grocery store...,Jessica Michel,263489,-0.9194
28,1340838662452334593,"when c–ævid is over ""mask off"" will be the #1 s...",·°ï·†µ·†ä·°É‡°ö‡†¢‡†ò‡ªà ‚∏ù‡ªà‡†°‡†£·†äﬂØ·†Ü‡†£‡†ò·°Å‡†£‡†ò·†ä·†ä‡†¢‡†òê°è,257344,0.0000
29,1286789081750474754,I am once again asking you to wear a mask.,Bernie Sanders,242354,0.0000
30,1296337714170798081,Everyone should definitely see this https://t....,·µïÃà,239292,0.4019
31,1277211131430535168,I don't think anything I've seen so perfectly ...,Cassandra of Troy,237812,0.7155
33,1309142915210506244,I tested negative to Covid yesterday and posit...,Zlatan Ibrahimoviƒá,234345,-0.3182

In [42]:
# top 10 tweetow z najwieksza iloscia cytowan

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Tre≈õƒá tweeta", u.name as "Nazwa u≈ºytkownika", t.quote_count as "Ilo≈õƒá cytowa≈Ñ", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by quote_count desc
limit 100;

"""

df1 = getAll(sql1)
df1 = df1.loc[~df1['Identyfikator tweeta'].isin(
    [1318523009829904384, 1241016789758246914, 1300470306503626753, 1332805215142047744, 1244498414970101761,
     1334188323980632066, 1299785223111147520, 1352048723895832576, 1347684877634838528, 1325936220065640449,
     1278763679421431809, 1334542969530183683, 1326451561782943744, 1237688602454343680, 1302697208735653894,
     1321941986174226432, 1326132502344372226, 1335197374340337664, 1285236694883561472, 1329113457694830597,
     1323739504046465025, 1268422690336935943, 1348249481284874240, 1369348492141998081, 1273416410283290625,
     1379042044614688775, 1264965252866641920, 1290675854767513600, 1384650781672939521, 1321128432370176002,
     1307099466449776640, 1356793595550924805, 1348388601118273537, 1337174593639829507])]
df1 = df1.head(10)
# dfi.export(df1,"images/top_10_tweetow_z_najwieksza_iloscia_cytowan.png")
df1

,Identyfikator tweeta,Tre≈õƒá tweeta,Nazwa u≈ºytkownika,Ilo≈õƒá cytowa≈Ñ,Sentyment
16,1366846908480815106,I just announced Texas is OPEN 100%. \n\nEVERY...,Greg Abbott,93978,0.0000
17,1240371160078000128,"‚ÄúIf I get corona, I get corona. At the end of ...",CBS News,93549,-0.0803
25,1239617034901524481,This morning I tested positive for Covid 19. I...,Idris Elba,81644,-0.8360
28,1290497186489348096,".: ‚ÄúOh, you‚Äôre doing death as a proportion of ...",Axios,77646,-0.9428
33,1328771877360209920,The first case of covid-19 was detected exactl...,üìì,72460,0.0000
35,1306068005235896320,Anti-maskers in Florida invade a Target https:...,Fifty Shades of Whey,70931,0.0000
36,1392496742822776839,üíî https://t.co/cLgDdn70No,Gal Gadot,70327,0.0000
38,1277710431507922945,Novo v√≠rus da gripe com 'potencial pand√™mico' ...,G1,66622,0.0000
39,1293789401131020288,BTS MAP OF THE SOUL ON:E Í≥µÏó∞ Í∞úÏµú\n\n#BTS #Î∞©ÌÉÑÏÜåÎÖÑÎã® ...,BIGHIT MUSIC,66571,0.0000
43,1280274049877377029,URGENTE: Jair Bolsonaro testa positivo para co...,Band.com.br,63421,0.0000

In [43]:
# top 10 tweetow z najwieksza iloscia polubien

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Tre≈õƒá tweeta", u.name as "Nazwa u≈ºytkownika", t.favorite_count as "Ilo≈õƒá polubie≈Ñ", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by favorite_count desc
limit 100;
"""

df1 = getAll(sql1)
df1 = df1.loc[~df1['Identyfikator tweeta'].isin(
    [1351897267666608129, 1266821069823975430, 1265832328598884352, 1278763679421431809, 1383464956859879426,
     1268422690336935943, 1331363238487977985, 1311120831032909825, 1266484584683896832, 1331307848647761925,
     1253751812194070529, 1266156916121706502, 1325890910635384839, 1370798098075824132, 1239834212565430278,
     1332069642534146048, 1280948407532613633, 1267642032077656070])]
df1 = df1.head(10)
# dfi.export(df1, "images/top-10-tweetow-z-najwieksza-iloscia-polubien.png")
df1

,Identyfikator tweeta,Tre≈õƒá tweeta,Nazwa u≈ºytkownika,Ilo≈õƒá polubie≈Ñ,Sentyment
11,1236029449042198528,The coronavirus panic is dumb,Elon Musk,1590373,-0.7650
13,1340838662452334593,"when c–ævid is over ""mask off"" will be the #1 s...",·°ï·†µ·†ä·°É‡°ö‡†¢‡†ò‡ªà ‚∏ù‡ªà‡†°‡†£·†äﬂØ·†Ü‡†£‡†ò·°Å‡†£‡†ò·†ä·†ä‡†¢‡†òê°è,1547656,0.0000
15,1339224471731843073,My boyfriend got his covid vaccine yesterday a...,Emaperidol,1469843,-0.0276
18,1239617034901524481,This morning I tested positive for Covid 19. I...,Idris Elba,1268070,-0.8360
19,1243427980199641088,I swear we are fighting two pandemics \nCovid ...,Sir Mo,1260116,-0.6808
22,1286789081750474754,I am once again asking you to wear a mask.,Bernie Sanders,1224361,0.0000
23,1348249481284874240,My message to my fellow Americans and friends ...,Arnold,1217114,0.0000
25,1312915126215864320,My father died of Covid alone in a hospital. I...,Curtis Armstrong,1196563,-0.8860
26,1309142915210506244,I tested negative to Covid yesterday and posit...,Zlatan Ibrahimoviƒá,1186424,-0.3182
27,1238726956180373504,Wasn‚Äôt even scared until all the grocery store...,Jessica Michel,1166155,-0.9194

In [45]:
# top 10 userow kt√≥rzy otrzymali najwiƒôcej polubie≈Ñ pod swoimi tweetami

sql1 = """
select u.name as "Nazwa u≈ºytkownika", t.favorite_count as "Liczba polubie≈Ñ pod tweetami"
from "user" u
         join tweet t on u.id = t.user_id
where t.type = 1
order by t.favorite_count desc
limit 10;

"""

df1 = getAll(sql1)
# dfi.export(df1, "images/top-10-userow-ktorzy-otrzymali-najwiecej-polubien-pod-swoimi-tweetami.png")
df1

  Nazwa u≈ºytkownika  Liczba polubie≈Ñ pod tweetami
0         Joe Biden                       4182385
1    Andy Milonakis                       3676365
2        King Myle$                       2806770
3           Twitter                       2778940
4             Î∞©ÌÉÑÏÜåÎÖÑÎã®                       2309729
5             Î∞©ÌÉÑÏÜåÎÖÑÎã®                       2144256
6           brianna                       1983056
7         Joe Biden                       1827525
8           HotGyal                       1770093
9         Joe Biden                       1669532

In [46]:
# top 10 userow kt√≥rzy otrzymali najwiƒôcej polubie≈Ñ pod swoimi komentarzami

sql1 = """
select u.name as "Nazwa u≈ºytkownika", t.favorite_count as "Liczba polubie≈Ñ pod komentarzami"
from "user" u
         join tweet t on u.id = t.user_id
where t.type = 2
order by t.favorite_count desc
limit 10;


"""

df1 = getAll(sql1)
# dfi.export(df1, "images/top-10-userow-ktorzy-otrzymali-najwiecej-polubien-pod-swoimi-komentarzami.png")
df1

    Nazwa u≈ºytkownika  Liczba polubie≈Ñ pod komentarzami
0        Taylor Swift                            749924
1           Oh Really                            675613
2           Joe Biden                            441022
3        Steve Martin                            418737
4  Borzou Daragahi üñäüóí                            415681
5             brielle                            379379
6              Jasmyn                            330622
7               katie                            320768
8        Stephen King                            182498
9       Rex Chapmanüèáüèº                            173100