In [1]:
import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import figure
import dataframe_image as dfi

In [2]:
connection = psycopg2.connect(
    database="root",
    user="root",
    password="password",
    host="127.0.0.1",
    port="5440"
)
db = connection.cursor(cursor_factory=psycopg2.extras.RealDictCursor)

In [3]:
def getAll(query):
    db.execute(query)
    return pd.DataFrame(data=db.fetchall())

In [4]:
# top 10 tweetow z najwieksza iloscia komentarzy

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Treść tweeta", u.name as "Nazwa użytkownika", t.reply_count as "Ilość komentarzy", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by reply_count desc
limit 10;


"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-tweetow-z-najwieksza-iloscia-komentarzy.png")
df1

,Identyfikator tweeta,Treść tweeta,Nazwa użytkownika,Ilość komentarzy,Sentyment
0,1347327743004995585,My statement on the woke mob at https://t.co...,Josh Hawley,252275,0.0000
1,1268422690336935943,"우리는 인종차별에 반대합니다.\n우리는 폭력에 반대합니다.\n나, 당신, 우리 모두...",방탄소년단,184650,-0.5574
2,1282002456063295490,T 3590 -I have tested CoviD positive .. shift...,Amitabh Bachchan,164470,0.7263
3,1383464956859879426,그립당 그때 그 시절 ㅠ..ㅠ💜 https://t.co/mVsupCoXJo,방탄소년단,163600,0.0000
4,1319785379105542149,Tomorrow I’m going to give whoever ratios me t...,MrBeast,145433,0.0000
5,1241016789758246914,"We’re giving away $100,000 this #CashAppFriday...",Cash App,139672,0.2960
6,1332066698858352641,I’m incredibly thankful for so much this year....,Harry Styles.,122973,0.9665
7,1334542969530183683,2020 in one word,Twitter,117710,0.0000
8,1351897267666608129,It’s a new day in America.,Joe Biden,112270,0.0000
9,1252734369564733440,Drop me your #cashapp and I’m gonna help as ma...,Jeffree Star,111576,0.9199

In [5]:
# top 10 tweetow z najwieksza iloscia retweetow

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Treść tweeta", u.name as "Nazwa użytkownika", t.retweet_count as "Ilość retweetów", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by retweet_count desc
limit 10;
"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-tweetow-z-najwieksza-iloscia-retweetow.png")
df1

,Identyfikator tweeta,Treść tweeta,Nazwa użytkownika,Ilość retweetów,Sentyment
0,1342491135093207044,I’m going to give 5 people that retweet this t...,MrBeast,952045,0.7830
1,1268422690336935943,"우리는 인종차별에 반대합니다.\n우리는 폭력에 반대합니다.\n나, 당신, 우리 모두...",방탄소년단,903154,-0.5574
2,1265832328598884352,What a headline https://t.co/x8GGKL0VMc,King Myle$,798134,0.0000
3,1241756665856155648,"I’m going to give away $30,000 to 1 random per...",Jeffree Star,797431,0.7249
4,1266821069823975430,Congratulations to the Astronauts that left Ea...,Andy Milonakis,753953,0.7783
5,1278763679421431809,You can have an edit button when everyone wear...,Twitter,655519,0.0000
6,1245435715036430336,"I’m gonna give away $5,000 to 3 random people ...",Jeffree Star,644980,0.7712
7,1383464956859879426,그립당 그때 그 시절 ㅠ..ㅠ💜 https://t.co/mVsupCoXJo,방탄소년단,602475,0.0000
8,1297194550340067328,I’m going to give 10 random people who retweet...,MrBeast,555729,0.6580
9,1351897267666608129,It’s a new day in America.,Joe Biden,504093,0.0000

In [6]:
# top 10 tweetow z najwieksza iloscia cytowan

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Treść tweeta", u.name as "Nazwa użytkownika", t.quote_count as "Ilość cytowań", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by quote_count desc
limit 10;

"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-tweetow-z-najwieksza-iloscia-cytowan.png")
df1

,Identyfikator tweeta,Treść tweeta,Nazwa użytkownika,Ilość cytowań,Sentyment
0,1318523009829904384,How will you leave 2020 ! https://t.co/wbp5TEhQnf,Π Ш Δ,335544,-0.1260
1,1241016789758246914,"We’re giving away $100,000 this #CashAppFriday...",Cash App,181142,0.2960
2,1302697208735653894,IM CRYINGGGGG😭😭😭😭 https://t.co/hI7HyhySi7,+☆ saddest angel ☆+,173730,0.0000
3,1300470306503626753,the first three words u see are gonna define y...,anniebelle,167074,0.0000
4,1321941986174226432,Just had a great meeting with besides what h...,Lil Wayne WEEZY F,143947,0.4472
5,1347684877634838528,After close review of recent Tweets from the ...,Twitter Safety,142068,-0.8519
6,1332805215142047744,"This is your fate in 2021, screenshot let’s se...",Rules,137501,0.0772
7,1325936220065640449,"Quote tweet this tweet and get 0 likes, 0 RT’s...",Tesco,122920,0.8805
8,1244498414970101761,I got catfished: a (really long) thread https:...,Jzan Tero,118038,0.0000
9,1334188323980632066,What do you do in this situation https://t.co/...,💥𝙰𝚁𝙾𝙱𝚉𝚉💥,113011,0.0000

In [7]:
# top 10 tweetow z najwieksza iloscia polubien

sql1 = """
select t.id as "Identyfikator tweeta", t.content as "Treść tweeta", u.name as "Nazwa użytkownika", t.favorite_count as "Ilość polubień", t.sentiment_compound as "Sentyment"
from tweet t
         join "user" u on t.user_id = u.id
order by favorite_count desc
limit 10;
"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-tweetow-z-najwieksza-iloscia-polubien.png")
df1

,Identyfikator tweeta,Treść tweeta,Nazwa użytkownika,Ilość polubień,Sentyment
0,1351897267666608129,It’s a new day in America.,Joe Biden,4182385,0.0000
1,1266821069823975430,Congratulations to the Astronauts that left Ea...,Andy Milonakis,3676365,0.7783
2,1265832328598884352,What a headline https://t.co/x8GGKL0VMc,King Myle$,2806770,0.0000
3,1278763679421431809,You can have an edit button when everyone wear...,Twitter,2778940,0.0000
4,1383464956859879426,그립당 그때 그 시절 ㅠ..ㅠ💜 https://t.co/mVsupCoXJo,방탄소년단,2309729,0.0000
5,1268422690336935943,"우리는 인종차별에 반대합니다.\n우리는 폭력에 반대합니다.\n나, 당신, 우리 모두...",방탄소년단,2144256,-0.5574
6,1331363238487977985,I can’t even believe these pics are real and i...,brianna,1983056,0.0000
7,1311120831032909825,Donald Trump is the worst president we've ever...,Joe Biden,1827525,-0.6249
8,1266484584683896832,Racism isn’t a touchy topic if you’re not a fu...,HotGyal,1770093,-0.1688
9,1331307848647761925,America is back.,Joe Biden,1669532,0.0000

In [8]:
# top 10 userow którzy otrzymali najwięcej polubień pod swoimi tweetami

sql1 = """
select u.name as "Nazwa użytkownika", t.favorite_count as "Liczba polubień pod tweetami"
from "user" u
         join tweet t on u.id = t.user_id
where t.type = 1
order by t.favorite_count desc
limit 10;

"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-userow-ktorzy-otrzymali-najwiecej-polubien-pod-swoimi-tweetami.png")
df1

  Nazwa użytkownika  Liczba polubień pod tweetami
0         Joe Biden                       4182385
1    Andy Milonakis                       3676365
2        King Myle$                       2806770
3           Twitter                       2778940
4             방탄소년단                       2309729
5             방탄소년단                       2144256
6           brianna                       1983056
7         Joe Biden                       1827525
8           HotGyal                       1770093
9         Joe Biden                       1669532

In [9]:
# top 10 userow którzy otrzymali najwięcej polubień pod swoimi komentarzami

sql1 = """
select u.name as "Nazwa użytkownika", t.favorite_count as "Liczba polubień pod komentarzami"
from "user" u
         join tweet t on u.id = t.user_id
where t.type = 2
order by t.favorite_count desc
limit 10;


"""

df1 = getAll(sql1)
dfi.export(df1,"images/top-10-userow-ktorzy-otrzymali-najwiecej-polubien-pod-swoimi-komentarzami.png")
df1

    Nazwa użytkownika  Liczba polubień pod komentarzami
0        Taylor Swift                            749924
1           Oh Really                            675613
2           Joe Biden                            441022
3        Steve Martin                            418737
4  Borzou Daragahi 🖊🗒                            415681
5             brielle                            379379
6              Jasmyn                            330622
7               katie                            320768
8        Stephen King                            182498
9       Rex Chapman🏇🏼                            173100