In [1]:
import calendar

import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import figure
import dataframe_image as dfi

In [2]:
connection = psycopg2.connect(
    database="root",
    user="root",
    password="password",
    host="127.0.0.1",
    port="5440"
)
db = connection.cursor(cursor_factory=psycopg2.extras.RealDictCursor)

In [3]:
def getAll(query):
    db.execute(query)
    return pd.DataFrame(data=db.fetchall())

In [4]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają komentarze"
from tweet
where type = 1
  and reply_count > 0;
   """
)

dfi.export(result,"images/tweety_z_komentarzami.png")
result

  Procent tweetów, które mają komentarze
0                                  29.36

In [5]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają retweety"
from tweet
where type = 1
  and retweet_count > 0;
   """
)

dfi.export(result,"images/tweety_z_retweetami.png")
result

  Procent tweetów, które mają retweety
0                                23.44

In [6]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają polubienia"
from tweet
where type = 1
  and favorite_count > 0;
   """
)

dfi.export(result,"images/tweety_z_polubieniami.png")
result

  Procent tweetów, które mają polubienia
0                                  48.90

In [7]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają cytowania"
from tweet
where type = 1
  and quote_count > 0;
   """
)

dfi.export(result,"images/tweety_z_cytowaniami.png")
result

  Procent tweetów, które mają cytowania
0                                 11.59

In [8]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają więcej niż 100 komentarzy"
from tweet
where type = 1
  and reply_count > 100;
   """
)

dfi.export(result,"images/tweety_z_komentarzami_wiecej_niz_100.png")
result

  Procent tweetów, które mają więcej niż 100 komentarzy
0                                               2.03

In [9]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają więcej niż 100 retweetów"
from tweet
where type = 1
  and retweet_count > 100;
   """
)

dfi.export(result,"images/tweety_z_retweetami_wiecej_niz_100.png")
result

  Procent tweetów, które mają więcej niż 100 retweetów
0                                               3.09

In [10]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają więcej niż 100 polubień"
from tweet
where type = 1
  and favorite_count > 100;
   """
)

dfi.export(result,"images/tweety_z_polubieniami_wiecej_niz_100.png")
result

  Procent tweetów, które mają więcej niż 100 polubień
0                                               4.52

In [11]:
result = getAll(
    """
with tweet_count as (
    select count(*)
    from tweet
    where type = 1)

select ROUND((cast(count(*) as decimal) / (select * from tweet_count) * 100)::numeric,
             2) as "Procent tweetów, które mają więcej niż 100 cytowań"
from tweet
where type = 1
  and quote_count > 100;
   """
)

dfi.export(result,"images/tweety_z_cytowaniami_wiecej_niz_100.png")
result

  Procent tweetów, które mają więcej niż 100 cytowań
0                                               1.83