In [1]:
import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import figure
import dataframe_image as dfi

In [2]:
connection = psycopg2.connect(
    database="root",
    user="root",
    password="password",
    host="127.0.0.1",
    port="5440"
)
db = connection.cursor(cursor_factory=psycopg2.extras.RealDictCursor)

In [3]:
def getAll(query):
    db.execute(query)
    return pd.DataFrame(data=db.fetchall())

In [4]:
# userzy którzy pisali same pozytywne tweety

sql1 = """
select u.name as "Użytkownicy piszący same pozytywne tweety"
from "user" u
where u.id not in (select t.user_id
                   from tweet t
                   where t.type = 1
                     and t.sentiment_compound < 0.05);
"""

df1 = getAll(sql1)
dfi.export(df1,"uzytkownicy-piszacy-same-pozytywne-tweety.png")
df1

   Identyfikator tweeta                                              Tweet
0   1282002456063295490  T 3590 -I have tested CoviD positive ..  shift...
1   1332066698858352641  I’m incredibly thankful for so much this year....
2   1351897267666608129                         It’s a new day in America.
3   1252734369564733440  Drop me your #cashapp and I’m gonna help as ma...
4   1352359178355011586  I just filed Articles of Impeachment on Presid...
5   1333344528883920896  🦄 #PLTPinkMonday 🦄 We’re giving away $1000 CAS...
6   1325203148684718086  70 million pissed off republicans and not one ...
7   1352754599590035459  Donald Trump is the first president in modern ...
8   1366846908480815106  I just announced Texas is OPEN 100%. \n\nEVERY...
9   1312590918915108866  Nothing can stop him from working for the Amer...

In [ ]:
#  userzy którzy pisali same pozytywne komentarze

sql1 = """
select u.name as "Użytkownicy piszący same pozytywne komentarze"
from "user" u
where u.id not in (select t.user_id
                   from tweet t
                   where t.type = 2
                     and t.sentiment_compound < 0.05);
"""

df1 = getAll(sql1)
dfi.export(df1,"uzytkownicy-piszacy-same-pozytywne-komentarze.png")
df1

In [ ]:
#  userzy którzy pisali same negatywne tweety

sql1 = """
select u.name as "Użytkownicy piszący same negatywne tweety"
from "user" u
where u.id not in (select t.user_id
                   from tweet t
                   where t.type = 1
                     and t.sentiment_compound > 0.05);
"""

df1 = getAll(sql1)
dfi.export(df1,"uzytkownicy-piszacy-same-negatywne-tweety.png")
df1

In [ ]:
#  userzy którzy pisali same negatywne komentarze

sql1 = """
select u.name as "Użytkownicy piszący same negatywne komentarze"
from "user" u
where u.id not in (select t.user_id
                   from tweet t
                   where t.type = 2
                     and t.sentiment_compound > 0.05);
"""

df1 = getAll(sql1)
dfi.export(df1,"uzytkownicy-piszacy-same-negatywne-komentarze.png")
df1

In [ ]:
#  ilosc wszystkich tweetow

sql1 = """
select count(*) as "Ilość wszystkich tweetów"
from tweet t
where t.type = 1;

"""

df1 = getAll(sql1)
dfi.export(df1,"ilosc-wszystkich-tweetow.png")
df1

In [ ]:
#  ilosc wszystkich komentarzy

sql1 = """
select count(*) as "Ilość wszystkich komentarzy"
from tweet t
where t.type = 2;

"""

df1 = getAll(sql1)
dfi.export(df1,"ilosc-wszystkich-komentarzy.png")
df1

In [ ]:
#  ilosc wszystkich cytowan

sql1 = """
select count(*) as "Ilość wszystkich cytowań"
from tweet t
where t.type = 3;

"""

df1 = getAll(sql1)
dfi.export(df1,"ilosc-wszystkich-cytowan.png")
df1

In [ ]:
#  ilosc wszystkich retweetow

sql1 = """
select count(*) as "Ilość wszystkich retweetów"
from retweet;

"""

df1 = getAll(sql1)
dfi.export(df1,"ilosc-wszystkich-retweetow.png")
df1

In [ ]:
#  ilosc wszystkich polubien

sql1 = """
select sum(t.favorite_count) as "Ilość wszystkich polubień"
from tweet t;


"""

df1 = getAll(sql1)
dfi.export(df1,"ilosc-wszystkich-polubien.png")
df1

In [ ]:
#  srednia ilosc komentarzy per tweet

sql1 = """
select avg(t.reply_count) as "Średnia ilość komentarzy na tweet"
from tweet t
where t.type = 1;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-komentarzy-per-tweet.png")
df1

In [ ]:
#  srednia ilosc retweetow per tweet

sql1 = """
select avg(t.retweet_count) "Średnia ilość retweetów na tweet"
from tweet t
where t.type = 1;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-retweetow-per-tweet.png")
df1

In [ ]:
#  srednia ilosc polubien per tweet

sql1 = """
select avg(t.favorite_count) "Średnia ilość polubień na tweet"
from tweet t
where t.type = 1;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-polubien-per-tweet.png")
df1

In [ ]:
#  srednia ilosc cytowan per tweet

sql1 = """
select avg(t.quote_count) "Średnia ilość cytowań na tweet"
from tweet t
where t.type = 1;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-cytowan-per-tweet.png")
df1

In [ ]:
#   srednia ilosc komentarzy per tweet na dzien

sql1 = """
select avg(t.reply_count) as "Średnia liczba komentarzy na dzień", date_trunc('day', t.created_at) as "Dzień"
from tweet t
where t.type = 1
group by "Dzień"
order by "Dzień" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-komentarzy-per-tweet-na-dzien.png")
df1

In [ ]:
#  srednia ilosc komentarzy per tweet na tydzien

sql1 = """
select avg(t.reply_count) as "Średnia liczba komentarzy na tydzień", date_trunc('week', t.created_at) as "Tydzień"
from tweet t
where t.type = 1
group by "Tydzień"
order by "Tydzień" desc;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-komentarzy-per-tweet-na-tydzien.png")
df1

In [ ]:
# srednia ilosc komentarzy per tweet na miesiac

sql1 = """
select avg(t.reply_count) as "Średnia liczba komentarzy na miesiąc", date_trunc('month', t.created_at) as "Miesiąc"
from tweet t
where t.type = 1
group by "Miesiąc"
order by "Miesiąc" desc;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-komentarzy-per-tweet-na-miesiac.png")
df1

In [ ]:
# srednia ilosc retweetow per tweet na dzien

sql1 = """
select avg(t.retweet_count) as "Średnia liczba retweetow na dzien", date_trunc('day', t.created_at) as "Dzień"
from tweet t
where t.type = 1
group by "Dzień"
order by "Dzień" desc;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-retweetow-per-tweet-na-dzien.png")
df1

In [ ]:
# srednia ilosc retweetow per tweet na tydzien

sql1 = """
select avg(t.retweet_count) as "Srednia liczba retweetow na tydzien", date_trunc('week', t.created_at) as "Tydzień"
from tweet t
where t.type = 1
group by "Tydzień"
order by "Tydzień" desc;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-retweetow-per-tweet-na-tydzien.png")
df1

In [ ]:
# srednia ilosc retweetow per tweet na miesiac

sql1 = """
select avg(t.retweet_count) as "Srednia liczba retweetow na miesiac", date_trunc('month', t.created_at) as "Miesiąc"
from tweet t
where t.type = 1
group by "Miesiąc"
order by "Miesiąc" desc;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-retweetow-per-tweet-na-miesiac.png")
df1

In [ ]:
# srednia ilosc polubien per tweet na dzien

sql1 = """
select avg(t.favorite_count) as "Srednia liczba polubien na dzien", date_trunc('day', t.created_at) as "Dzień"
from tweet t
where t.type = 1
group by "Dzień"
order by "Dzień" desc;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-polubien-per-tweet-na-dzien.png")
df1

In [ ]:
# srednia ilosc polubien per tweet na tydzien

sql1 = """
select avg(t.favorite_count) as "Srednia liczba polubien na tydzien", date_trunc('week', t.created_at) as "Tydzień"
from tweet t
where t.type = 1
group by "Tydzień"
order by "Tydzień" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-polubien-per-tweet-na-tydzien.png")
df1

In [ ]:
# srednia ilosc polubien per tweet na miesiac

sql1 = """
select avg(t.favorite_count) as "Srednia liczba polubien na miesiac", date_trunc('month', t.created_at) as "Miesiąc"
from tweet t
where t.type = 1
group by "Miesiąc"
order by "Miesiąc" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-polubien-per-tweet-na-miesiac.png")
df1

In [ ]:
# srednia ilosc cytowan per tweet na dzien

sql1 = """
select avg(t.quote_count) as "Srednia liczba cytowan na dzien", date_trunc('day', t.created_at) as "Dzień"
from tweet t
where t.type = 1
group by "Dzień"
order by "Dzień" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-cytowan-per-tweet-na-dzien.png")
df1

In [ ]:
# srednia ilosc cytowan per tweet na tydzien

sql1 = """
select avg(t.quote_count) as "Srednia liczba cytowan na tydzien", date_trunc('week', t.created_at) as "Tydzień"
from tweet t
where t.type = 1
group by "Tydzień"
order by "Tydzień" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-cytowan-per-tweet-na-tydzien.png")
df1

In [ ]:
# srednia ilosc cytowan per tweet na miesiac

sql1 = """
select avg(t.quote_count) as "Srednia liczba cytowan na miesiac", date_trunc('month', t.created_at) as "Miesiąc"
from tweet t
where t.type = 1
group by "Miesiąc"
order by "Miesiąc" desc;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-cytowan-per-tweet-na-miesiac.png")
df1

In [ ]:
# srednia ilosc pozytywnych komentarzy per tweet

sql1 = """
select avg(count) as "Średnia liczba pozytywnych komentarzy na tweet"
from (select count(*) as count
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound >= 0.05
      group by t.id
      order by count desc) as counts;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-pozytywnych-komentarzy-per-tweet.png")
df1

In [ ]:
# srednia ilosc negatywnych komentarzy per tweet

sql1 = """
select avg(count) "Średnia liczba negatywnych komentarzy na tweet"
from (select count(*) as count
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound <= -0.05
      group by t.id
      order by count desc) as counts;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-negatywnych-komentarzy-per-tweet.png")
df1

In [ ]:
# srednia ilosc pozytywnych komentarzy per tweet per dzien

sql1 = """
select avg(count) as "Średnia liczba pozytywnych komentarzy na tweet", day as "Dzień"
from (select count(*) as count, date_trunc('day', t.created_at) as day
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound >= 0.05
      group by t.id, day
      order by count desc) as res
group by day;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-pozytywnych-komentarzy-per-tweet-per-dzien.png")
df1

In [ ]:
# srednia ilosc pozytywnych komentarzy per tweet per tydzien

sql1 = """
select avg(count) as "Średnia liczba pozytywnych komentarzy na tweet", week as "Tydzień"
from (select count(*) as count, date_trunc('week', t.created_at) as week
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound >= 0.05
      group by t.id, week
      order by count desc) as res
group by week;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-pozytywnych-komentarzy-per-tweet-per-tydzien.png")
df1

In [ ]:
# srednia ilosc pozytywnych komentarzy per tweet per miesiac

sql1 = """
select avg(count) as "Średnia liczba pozytywnych komentarzy na tweet", month as "Miesiąc"
from (select count(*) as count, date_trunc('month', t.created_at) as month
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound >= 0.05
      group by t.id, month
      order by count desc) as res
group by month;

"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-pozytywnych-komentarzy-per-tweet-per-miesiac.png")
df1

In [ ]:
# srednia ilosc negatywnych komentarzy per tweet per dzien

sql1 = """
select avg(count) as "Średnia liczba negatywnych komentarzy na tweet", day as "Dzień"
from (select count(*) as count, date_trunc('day', t.created_at) as day
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound <= -0.05
      group by t.id, day
      order by count desc) as res
group by day;


"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-negatywnych-komentarzy-per-tweet-per-dzien.png")
df1

In [ ]:
# srednia ilosc negatywnych komentarzy per tweet per tydzien

sql1 = """
select avg(count) as "Średnia liczba negatywnych komentarzy na tweet", week as "Tydzień"
from (select count(*) as count, date_trunc('week', t.created_at) as week
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound <= -0.05
      group by t.id, week
      order by count desc) as res
group by week;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-negatywnych-komentarzy-per-tweet-per-tydzien.png")
df1

In [ ]:
# srednia ilosc negatywnych komentarzy per tweet per miesiac

sql1 = """
select avg(count) as "Średnia liczba negatywnych komentarzy na tweet", month as "Miesiąc"
from (select count(*) as count, date_trunc('month', t.created_at) as month
      from tweet t
               join tweet t2 on t.id = t2.reply_to
      where t.type = 1
        and t2.type = 2
        and t2.sentiment_compound <= -0.05
      group by t.id, month
      order by count desc) as res
group by month;
"""

df1 = getAll(sql1)
dfi.export(df1,"srednia-ilosc-negatywnych-komentarzy-per-tweet-per-miesiac.png")
df1